geographiclib==2.0
geopy==2.3.0
asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.1.4
django-active-link==0.1.8
django-phonenumber-field==7.0.1
djangorestframework==3.14.0
gunicorn==20.1.0
phonenumbers==8.13.2
Pillow==7.0.0
requests==2.22.0
requests-unixsocket==0.2.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.14.0
sqlparse==0.2.4
virtualenv==20.16.6
whitenoise==6.2.0