Django==4.1.4
django-active-link==0.1.8
django-phonenumber-field==7.0.1
django-twilio==0.14.3
phonenumbers==8.13.2
Pillow==7.0.0
asgiref==3.5.2
backports.zoneinfo==0.2.1
gunicorn==20.1.0
six==1.14.0
sqlparse==0.2.4
twilio==7.15.4
virtualenv==20.16.6
whitenoise==6.2.0