.modal-content-1 {
  margin: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(#d1e4d9e3, #e7dfcee5, #e1c8c9e5);
  border: 2px solid rgba(78, 87, 75, 0.823);
  box-shadow: 1px 1px 20px 10px rgba(58, 77, 94, 0.574);
  border-radius: 2rem;
  width: 90vw;
  max-width: 350px;
  max-height: 750px;
}

.modal-content-comp {
  margin: 10px;
  padding-bottom: 10px;
  background-image: linear-gradient(-225deg, #adcec5e0 0%, #d5b1cee3 100%);
  border: 2px solid rgba(65, 70, 84, 0.823);
  box-shadow: 1px 1px 30px 10px rgba(57, 29, 56, 0.574);
  border-radius: 2rem;
  width: 90vw;
  max-width: 350px;
  max-height: 555px;
}

.card-body {
  margin-left: 10px;
  padding-right: 10px;
}

.modal-heading{
  margin-top: 20px;
  top: 5%;
  position: relative;
  left: 50%;
  padding: 8px;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(38deg, #d6a8b8d7, #c1d5a5e4, #a6d8aedf);
  border: 2px solid rgba(67, 49, 63, 0.63);
  box-shadow: 0px 0px 30px 5px rgba(92, 68, 99, 0.574);
  border-radius: 1.5rem;
  text-align: center;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}


.modal-heading-comp{
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
  top: 5%;
  position: relative;
  left: 50%;
  padding: 8px;
  transform: translate(-50%,-50%);
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(90deg, #afd4b3cb, #b1d0d6ce, #d4b5d3c6);
  border: 2px solid rgba(67, 49, 63, 0.63);
  box-shadow: 0px 0px 30px 5px rgba(46, 78, 102, 0.574);
  border-radius: 1.5rem;
  text-align: center;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
}



.w-modal-heading1{
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 15px;
  margin-left: 10px;
  padding: 8px;
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(38deg, #cfa8d6a5, #abd5a5b0, #a6d8d8a5);
  box-shadow: 0px 0px 30px 5px rgba(162, 136, 169, 0.574);
  border: 2px solid rgba(67, 49, 63, 0.63);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  width: 35%;
  font-size: 18px;
  font-weight: 500;
}


.w-modal-heading2{
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(38deg, #d6a8b8d7, #c1d5a5e4, #a6d8aedf);
  border: 2px solid rgba(67, 49, 63, 0.867);
  box-shadow: 0px 0px 30px 5px rgba(92, 68, 99, 0.574);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  text-align: center;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
}



.w-modal-heading11{
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 15px;
  margin-right: 10px;
  padding: 8px;
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(38deg, #cfa8d6a5, #abd5a5b0, #a6d8d8a5);
  box-shadow: 0px 0px 30px 5px rgba(162, 136, 169, 0.574);
  border: 2px solid rgba(67, 49, 63, 0.63);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  text-align: center;
  width: 35%;
  font-size: 18px;
  font-weight: 500;
}


.w-modal-heading22{
  position: relative;
  display: inline-block;
  margin: auto;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 5px;
  padding: 5px;
  text-decoration: none;
  color:rgb(0, 0, 0);
  background: linear-gradient(38deg, #d6a8b8d7, #c1d5a5e4, #a6d8aedf);
  border: 2px solid rgba(67, 49, 63, 0.867);
  box-shadow: 0px 0px 30px 5px rgba(92, 68, 99, 0.574);
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  text-align: center;
  width: 50%;
  font-size: 18px;
  font-weight: 500;
}

#body-scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f500;
}

#body-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.662);
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#ac8292), to(#7891a6), color-stop(.6, #98a380))
}

.scrollbar {
  background-color: transparent;
  border-radius: 2rem;
  margin-top: 15px;
  height: 70vh;
  overflow-y: auto;
  scroll-behavior: smooth;  
}

.btnhide2 {
  background-color: transparent;
  border-radius: 1rem;
  font-size: 18px;
  color: darkslategray;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  position: absolute;
  padding: 20px;
  right: 25px;
  margin-right: -10px;
}

.btnhide2:hover {
  color: rgb(206, 122, 114);
}


.btnhide3 {
  background-color: transparent;
  border-radius: 1rem;
  font-size: 18px;
  color: darkslategray;
  cursor: pointer;
  border: none;
  text-align: center;
  outline: none;
  position: absolute;
  padding: 20px;
  left: 2px;
  margin-left: -10px;
}

.btnhide3:hover {
  color: rgb(206, 122, 114);
}


.svg-icon2 {
  position: absolute;
  top: 3px;
  flex-shrink: 0;
  height: 1.2em;
  width: 1.2em;
  fill: currentColor;
  transition: fill .3s;
}


pending {
  color: rgb(114, 72, 54);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}    

solved {
  color: rgb(43, 84, 58);
  font-weight: 500;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
}  

descr {
  color: rgb(255, 255, 255);
  font-weight: 500;
  letter-spacing: 1px;
  
}  

descr2 {
  color: rgb(49, 49, 49);
  font-weight: 300;
}  

descr2-comp {
  color: rgb(49, 49, 49);
  font-weight: 500;
  font-size: 17px;
}  


s1 {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
}

s1:hover {
  color: #ebeef4;
}


s2 {
  font-weight: 500;
  font-weight: 500;
  font-size: 14px;
  color: #ebeef4;

}

s2:hover {
  color: rgb(0, 0, 0);
}





wpending {
  color: rgb(114, 72, 54);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Mulish", sans-serif;

}    

wsolved {
  color: rgb(43, 84, 58);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Mulish", sans-serif;

}  


wpending1 {
  color: rgb(114, 72, 54);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Mulish", sans-serif;
  padding-right: 20px;

}    

wsolved1 {
  color: rgb(43, 84, 58);
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: "Mulish", sans-serif;
  padding-left: 20px;

} 


ws1 {
  color: rgb(0, 0, 0);
  font-family: "Mulish", sans-serif;
  font-weight: 500;
  font-size: 15px;

}

ws1:hover {
  color: #37496e;
}


ws2 {
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  font-size: 15px;
  color: #394d75;
  font-weight: 500;

}

ws2:hover {
  color: rgb(0, 0, 0);
}


.image {
  display: flex;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 330px;
  max-height: 400px;
  padding: 10px;
  margin: auto;
}  



.collapsible1 {
  max-width: 330px;
  margin-top: 10px;
  background-image: linear-gradient(to right, #7ba490dc 0%, #997792d9  100%);
  border: 1px solid rgba(95, 137, 128, 0.63);
  color: #ebeef4;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: center;
  outline: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}

.active, .collapsible1:hover {
  background-color: #4e839ed5;
  color: rgb(255, 255, 255);
}


.collapsible-comp {
  max-width: 330px;
  margin-top: 10px;
  background-image: linear-gradient(to left, #9c7489cd 0%, #5c6986c2 100%);
  border: 1px solid rgba(98, 96, 50, 0.63);
  color: #ebeef4;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;

}

.active, .collapsible1-comp:hover {
  background-color: #4e839ed5;
  color: rgb(255, 255, 255);
}



.content1 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  padding-top: 5px;
  background-image: linear-gradient(to right, #d4e6ddc0 0%, #e9d7e5b7  100%);
  max-height: 0;
  overflow: hidden;
  border: none;
  outline: none;
  transition: max-height 0.4s ease-out;
}


.content0 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  padding-top: 5px;
  background-image: linear-gradient(to right, #d4e6ddc0 0%, #e9d7e5b7  100%);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  border-bottom: solid 2px;
  border-color: #44873eed;
}


.content11 {
  border-color: #823f51ea;
}


.content1-comp {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-align: center;
  padding-top: 5px; 
  background-color: #e6d1be7c;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.description1 {
  padding: 10px;
  background-color: rgb(102, 187, 206); 
  border: none; 
  color: rgb(64, 62, 62);
  width: 90%;
  border-radius: 1rem;
  margin-bottom: 10px; 
  font-size: 16px; 
  text-align: center;
  cursor: pointer; 
}

.description1:hover {
  background-color: rgb(67, 146, 163); 
  color: black;
}


.l1btn {
  background-color: rgba(123, 177, 177, 0.852);
  border-radius: 1rem;
  font-size: 16px;
  width: 90%;
  margin: auto auto 10px;
  color: #000000;
  cursor: pointer;
  padding: 8px;
  border: none;
  text-align: center;
  outline: none;

}

.l1btn:hover {
  background-color: rgb(101, 111, 143);
  color: white;
}

.s2btn {
  background-color: #75b397; 
}

.s2btn:hover {
  background-color: #75a77e;
}

.wrbtn {
  background-color: rgba(192, 147, 147, 0.851);
  color: white;
  border: solid 2px;
  border-color: #4f2626bb;
  border-radius: 0.9rem;
  font-size: 16px;
  letter-spacing: 1px;
  width: 40%;
  margin: 10px 10px 8px 5px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  outline: none;

}

.wrbtn:hover {
  background-color: rgba(244, 243, 216, 0.487);
  color: #261313;
  border-color: #885555;
  border-radius: 1.5rem;

}

.wabtn {
  background-color: rgba(144, 183, 146, 0.851);
  color: white;
  border: solid 2px;
  border-color: #244c32bc;
  border-radius: 0.9rem;
  font-size: 16px;
  width: 40%;
  margin: 10px 5px 8px 10px;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  outline: none;

}

.wabtn:hover {
  background-color: rgba(216, 244, 237, 0.487);
  color: #112111;
  border-color: #55885d;
  border-radius: 1.5rem;

}


.wr1btn {
  background-color: transparent;
  border-radius: 1rem;
  font-size: 15px;
  width: 90%;
  margin: auto auto 10px;
  color: #000000;
  text-align: center;
  outline: none;
  border: 2px solid;
  border-color: rgb(97, 92, 92);
  border-left-color: transparent;
  border-right-color: transparent;
  font-family: 'Mulish',cursive;
  padding: 5px;
}

.wr1btn:hover {
  color: rgb(106, 38, 131);
  border-left-color: rgb(97, 92, 92);
  border-right-color: rgb(97, 92, 92);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

wrs2{
  color: rgba(76, 14, 87, 0.944);
  font-size: 16px;
  padding: auto;
}

wrs1{
  color: rgb(0, 70, 93);
  font-size: 16px;
  padding: auto;
}

.wrbtn2 {
  border: solid 2px;
  background-color: rgba(244, 243, 216, 0.487);
  color: #261313;
  border-color: #885555;
  border-radius: 0.9rem;
  font-size: 16px;
  letter-spacing: 1px;
  width: 90%;
  margin: 5px 10px 15px 10px;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  outline: none;

}

.wrbtn2:hover {
  background-color: rgba(192, 147, 147, 0.851);
  color: white;
  border-color: #4f2626bb;
  border-radius: 1.5rem;

}


.wsfont {
  text-align: center;
  font-family: 'Mulish',cursive;
  color: rgb(28, 29, 57);
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px;
  background-color: transparent;
  border-radius: 1rem;
  margin: auto;
  margin-top: 10px;
  border: 1px solid;
  border-color: rgb(34, 71, 71);
  border-left-color: transparent;
  border-right-color: transparent;

}



.wcbtn {
  border: solid 1px;
  border-color: #264a30;
  border-radius: 1.5rem;
  font-size: 15px;
  width: 100%;
  margin: 30px auto 30px auto;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  outline: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
  background-color: transparent;

}

.wcbtn:hover {
  border-radius: 1rem;
}


.wmodal3-content {
  margin: 0.5em;
  padding: 1.2em;
  background-image: linear-gradient(#d7c3dfcb, #bedbd9d1, #d8d5b8c6);
  border: 1px solid rgba(78, 87, 75, 0.823);
  box-shadow: 1px 1px 20px 10px rgba(67, 66, 34, 0.574);
  border-radius: 2rem;
  width: 90vw;
  max-width: 350px;
}
