{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{% static 'login/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'login/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

</head>

<body class="d-flex align-items-center justify-content-center">

    <main id="main" class="main">
        <section class="section">
            <div class="row">
                <div class="card">

                    <div class="card-body">

                        <div class="title">
                            <h2 class="login1">Login</h2>
                        </div>

                        <div class="label1">
                            <h1>Enter Your Mobile Number</h1>
                        </div>


                        <div class="mobile-output">
                            <input type="number" maxlength="10" id="mobile_number" class="inputnum" readonly>
                        </div>

                        <div id="message1" class="error1 hidden"> Please enter a valid number </div>

                        <button class="sendotp" id="btnsend">
                            <span>Send OTP</span> <i class="sendicon fas fa-paper-plane"></i>
                        </button>

                        <div class="keyboard virtual-keyboard">
                            <input class="num" type="button" value="1">
                            <input class="num" type="button" value="2">
                            <input class="num" type="button" value="3">
                            <input class="num" type="button" value="4">
                            <input class="num" type="button" value="5">
                            <input class="num" type="button" value="6">
                            <input class="num" type="button" value="7">
                            <input class="num" type="button" value="8">
                            <input class="num" type="button" value="9">
                            <span class="num-n num"></span>
                            <input class="num" type="button" value="0">
                            <span class="remove delete"><i class="fas fa-backspace"></i></span>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <div class="modal" id="modal1">
            <div class="modal-content">


                <div class="card-body">

                    <div class="title">

                        <button class="goback" id="btnback">
                            <i class="fas fa-arrow-left"></i>
                        </button>

                        <h2 class="login2">Verification OTP</h2>
                    </div>

                    <div class="label2">
                        <h1>Type the verification
                            code sent to <span class="phone"></span>
                        </h1>
                    </div>


                    <div class="otp-output d-flex">
                        <input type="number" maxlength="6" class="inputotp" id="otp_receive" readonly/>
                    </div>


                    <div id="message2" class="error1 hidden"> Invalid Otp </div>


                    <button class="verifyotp" id="btncheck">
                        <span>Verify Now</span> <i class="verifyicon fas fa-arrow-right"></i>
                    </button>


                    <button class="resend text-muted text-center" id="btnresend" onclick="resendotp()">
                        Didn't receive code?
                        <span class="btn-resend">Resend</span>
                    </button>

                    <div class="keyboard virtual-keyboard-2">
                        <input class="num" type="button" value="1">
                        <input class="num" type="button" value="2">
                        <input class="num" type="button" value="3">
                        <input class="num" type="button" value="4">
                        <input class="num" type="button" value="5">
                        <input class="num" type="button" value="6">
                        <input class="num" type="button" value="7">
                        <input class="num" type="button" value="8">
                        <input class="num" type="button" value="9">
                        <span class="num-n num"></span>
                        <input class="num" type="button" value="0">
                        <span class="remove delete"><i class="fas fa-backspace"></i></span>
                    </div>

                </div>

            </div>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="{% static 'login/js/app.js' %}"></script>
    <script src="{% static 'login/js/login.js' %}"></script>

</body>

</html>