.pre-container{
 	background-color: rgba(101, 108, 110, 0.912);
  	width: 100%;
  	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 9999;
	visibility: visible;
}
.preloader {
	transform: translateZ(0);
	position: relative;
	margin: auto;
	top: 47%;
}

.preloader:before,
.preloader:after {
	content: '';
	position: absolute;
	top: 0;
}

.preloader:before,
.preloader:after,
.preloader {
	border-radius: 50%;
	width: 1.3em;
	height: 1.3em;
	animation: animation 1.3s infinite ease-in-out;
}

.preloader {
	animation-delay: -0.16s;
}

.preloader:before {
	left: -1.7em;
	animation-delay: -0.40s;
}	

.preloader:after {
	left: 1.7em;
}

@keyframes animation {
	0%,
	80%,
	100% {
		box-shadow: 0 2em 0 -1em rgba(57, 29, 42, 0.741);
	}
	40% {
		box-shadow: 0 2em 0 0 rgb(190, 177, 200);
	}
}