{% load static %}
<html>
    <head>
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
          <script src="https://kit.fontawesome.com/4b471692b7.js"></script>
          {% include "style.html" %}

    </head>
    
<body>

<div class="container p-5" align="center">
    
<button class="button1" id="trigger"> <i class="fa-solid fa-camera"></i> </button>
  
<p id="demo1"></p>
<a id="link1"></a>
         
         
<div class="modal" id="popup">
    
   <div class="modal-content"> 
        
     <div class="align-content-center" id="video1"> 
         <video id="camera-stream"></video>
     </div>           
        
     <div class="">                 
        <button id="close-button" class="button"> 
          <i class="fa-solid fa-xmark"></i>
             </button>
        <button id="capture-camera" class="button">
           <i class="fa-solid fa-camera"></i>
        </button>   
     </div>
        
   </div> 
    
</div>
                
        
<div class="modal" id="popup2">
    
  <div class="modal-content"> 
        
    <div class="align-content-center" id="canvas1">
        
    <canvas id="canvas"> </canvas>

    </div>
 
    <div class="">
       <button id="retake" class="button"> 
        <i class="fa-solid fa-rotate-left"></i>

          </button>
       <button id="close-button2" class="button"> 
           <i class="fa-solid fa-paper-plane"></i>
            </button>
    </div>
    
  </div> 
  
</div>
           
</div>


</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
        let links = document.getElementsByTagName("li");
        let circle = document.getElementById("circle");

        for(link of links){
            link.onclick = function(){
            
            for(link of links){
                link.style.opacity = "1";
            }
                circle.style.left = (80 * this.value)+"px";
                circle.innerHTML = this.innerHTML;
                this.style.opacity = "0";
            }
        }
    </script>
<script>
        
const modal = document.getElementById("popup");
const closeButton = document.getElementById("close-button")

function toggleModal() {
    modal.classList.toggle("show-modal");
}

function windowOnClick(event) {
    if (event.target === modal) {
        toggleModal();
    }
}

closeButton.addEventListener("click", toggleModal);
window.addEventListener("click", windowOnClick);


const modal2 = document.getElementById("popup2");
const closeButton2 = document.getElementById("close-button2");

function toggleModal2() {
    modal2.classList.toggle("show-modal");
}

function windowOnClick2(event) {
    if (event.target === modal2) {
        toggleModal2();
    }
}


function toggleModal3() {
    modal2.classList.toggle("show-modal");
    getLocation();
    closecam();
    
}

closeButton2.addEventListener("click", toggleModal3);
window.addEventListener("click", windowOnClick2);



var x = document.getElementById("demo1");
var l = document.getElementById("link1");

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } 
}

var link;

function showPosition(position) {

  var lat = position.coords.latitude;
  var lng = position.coords.longitude;

  link = "https://www.google.com/maps?q=" + lat + "," + lng;

  submitcase(link);
  
}


const trigger = document.getElementById("trigger");


function startcam() {
  toggleModal();
  capturecam();
}

trigger.addEventListener("click", startcam);


const retake = document.getElementById("retake");

function retake2() {
    toggleModal();
    toggleModal2();
}

retake.addEventListener("click", retake2);



  let on_stream_video = document.querySelector('#camera-stream');
  let constraints = { audio: false, video: true }
  let shouldFaceUser = false;
  let supports = navigator.mediaDevices.getSupportedConstraints();
  let stream = null;


  function capturecam() {
      constraints.video = {
      facingMode: shouldFaceUser ? 'user' : 'environment'
    }
    navigator.mediaDevices.getUserMedia(constraints)
      .then(function(mediaStream) {
        stream  = mediaStream;
        on_stream_video.srcObject = stream
        on_stream_video.play();
      })
      .catch(function(err) {
        console.log(err)
      });
  }

function closecam() {

const tracks = stream.getTracks();
tracks[0].stop();
tracks.forEach(track => track.stop())

}

var photo;

document.getElementById("capture-camera").addEventListener("click", function() {
   
    toggleModal();
    toggleModal2();
    const video = document.querySelector('video');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;              
    canvas.getContext('2d').drawImage(video, 0, 0);
    image = canvas.getContext('2d')
    photo = canvas.toDataURL('image/png');


  });


function submitcase(link) {


    var ImageURL = photo;
    var block = ImageURL.split(";");
    var contentType = block[0].split(":")[1];
    var realData = block[1].split(",")[1];

    var blob = b64toBlob(realData, contentType)

    var fd = new FormData()
    fd.append('image', blob)
    fd.append('location', link)

        $.ajax({
            type:'POST',
            url:'/submit',
            enctype: 'multipart/form-data',
            data: fd,
            contentType: false,
            processData: false,
            error: function (error) {
                console.log("An error occurred")
            }
        })

}

function b64toBlob(b64Data, contentType, sliceSize) {
    contentType = contentType || '';
    sliceSize = sliceSize || 512;

    var byteCharacters = atob(b64Data); // window.atob(b64Data)
    var byteArrays = [];

    for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
        var slice = byteCharacters.slice(offset, offset + sliceSize);

        var byteNumbers = new Array(slice.length);
        for (var i = 0; i < slice.length; i++) {
            byteNumbers[i] = slice.charCodeAt(i);
        }

        var byteArray = new Uint8Array(byteNumbers);

        byteArrays.push(byteArray);
    }

    var blob = new Blob(byteArrays, {type: contentType});
    return blob;
}


    </script>

</html>
