@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    background-color: rgba(255, 255, 255, 0.535);
    background-image: radial-gradient(farthest-side ellipse at 10% 0, rgba(110, 161, 161, 0.89), rgba(216, 193, 193, 0.85) 80%, rgba(217, 207, 174, 0.87) 120%);
}


#main {
    padding: 20px;
    transition: all 0.3s;
    background-color: transparent;
    background-size: cover;
}


h2,
.h2 {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33333;
  color: #1c1c1c;
  margin-top: 0;
  margin-bottom: 1rem;
}


#text1,
#text2 {
    position: absolute;
    display: flex;
    font-family: "Raleway", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    color: rgb(57, 54, 44);
}

#texta {
    margin: 20px auto auto ;
}

.card {
    background-color: rgba(229, 243, 244, 0.339);
    border: none;
    border-radius: 2rem;
    box-shadow: 0px 0px 100px 10px rgba(80, 102, 121, 0.42);
    max-width: 350px;

}

.card-body {
    padding-left: 2px;
    padding-right: 2px;
}


#button {
    display: flex;
    width: 100%;
    margin: auto;
    padding-top: 40px;
    text-align: center;
}

#button1 {
    display: flex;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}


.btn {
    border: 0px;
    overflow: hidden;
    border-radius: 1rem;
    padding: 20px;
    width: 350px;
    text-decoration: none;
    color: #fff;
    position: relative;
    text-align: center;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

}

.btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
}


.btn-blue {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 1px rgba(33, 33, 33, 0.2), 0 3px 10px rgba(33, 33, 33, 0.2), 0 3px 20px rgba(33, 33, 33, 0.4);
    color: #f8f8ff;
}

.btn-blue p {
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
    font-size: 1.75rem;
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #f8f8ff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

}

.btn-blue p:hover {
    color: #212121;
}

.btn-blue:hover {
    box-shadow: inset 0 0 50px 10px rgba(115, 115, 115, 0.6);
    color: #212121;
    text-decoration: none;
}

.text-grow {
    transition: all .3s ease-in-out;
}

.text-grow:hover {
    transform: scale(1);
}

.btn-bg-ocean {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/language/img/english.jpg");
}

.btn-bg-desert {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/language/img/hindi.jpg");

}

.btn-bg-arctic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/static/language/img/gujarati.jpg");

}



@media (max-width: 1024px) {
    #main {
        padding: 20px;
    }

}

@media (max-width: 390px) {
    .btn {
        width: 310px;
    }

}


@media (max-width: 360px) {
    .btn {
        width: 280px;
    }

}

@media (max-width: 340px) {
    .btn {
        width: 250px;
    }

}

@media (max-width: 310px) {

    .btn {
        width: 230px;
    }


}

@media (max-width: 280px) {

    .btn {
        width: 200px;
    }


}

@media (max-width: 250px) {

    .btn {
        width: 170px;
    }


}